body {
  font-size: 1.5em;
  font-family: Helvetica;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  body {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 700px) {
  body {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 550px) {
  body {
    font-size: 0.8em;
  }
}

table{
  margin: 0 auto;
  cursor: default;
  border-spacing: 0;
  width: 600px;
  height: 600px;
}

td {
  padding: 0;
  width: 33.3%;
  height: 33.3%;
  font-size: 8em;
  text-align: center;
}

table, td {
  border: 1px solid black;
}

body.game-on td:hover {
  cursor: pointer;
  background-color: gray;
}

body.game-on td.taken:hover {
  cursor: default;
  background-color: inherit;
}

td.win {
  background-color: green;
}

td.taken {
  color: transparent;
}

.cell {
  background: none;
}

.rofo {
  background: url('unnamed.png');
  background-size: 200px 200px;
}

.chowtime {
  background: url('olivia.jpg');
  background-size: 200px 200px;
}